VITE_SUPABASE_URL=https://SEU_PROJETO.supabase.co
VITE_SUPABASE_ANON_KEY=sua_anon_key_aqui

S3 


https://qyvqzxpgixfhzjvydvql.storage.supabase.co/storage/v1/s3
sa-east-1

access
275fdb45b66eb820ab544bd455d85f6a

secret
e270f1dcf370b1fdb9e39a6e1ff1330bd83ec3c1bfda3fe85d30a5a99b1e3a55